<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="connection.url">jdbc:hsqldb:file:C:\\Users\\Lenovo\\eclipse-workspace\\ogrenciSistemi\\db-data\\vt;hsqldb.lock_file=false</property>
        <property name="connection.username">SA</property>
        <property name="connection.password"></property>
        <property name="hsqldb.lock_file">false</property>
         
        
        <!-- Select our SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <!-- Drop and re-create the database schema on startup -->
        
        <property name="hbmdl.auto">update</property> 
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto=">update</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="entitymanager.packagesToScan">com</property>    
          
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.format_sql">true</property>
		
		
		
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.max_statements">30</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">45</property>
		<property name="hibernate.c3p0.timeout">1</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>      
        
        <mapping class="entity.Data" />
    </session-factory>
</hibernate-configuration>